[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/c"]
	path = bundle/c
	url = git@github.com:vim-scripts/c.vim.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git@github.com:vim-scripts/taglist.vim.git
[submodule "bundle/bash-support"]
	path = bundle/bash-support
	url = git@github.com:vim-scripts/bash-support.vim.git
[submodule "bundle/perl-support"]
	path = bundle/perl-support
	url = git@github.com:vim-scripts/perl-support.vim.git
