[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/c"]
	path = bundle/c
	url = git@github.com:vim-scripts/c.vim.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git@github.com:vim-scripts/taglist.vim.git
[submodule "bundle/bash-support"]
	path = bundle/bash-support
	url = git@github.com:vim-scripts/bash-support.vim.git
[submodule "bundle/perl-support"]
	path = bundle/perl-support
	url = git@github.com:vim-scripts/perl-support.vim.git
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = git@github.com:Shougo/neocomplcache.vim.git
[submodule "bundle/csExplorer"]
	path = bundle/csExplorer
	url = git@github.com:sjas/csExplorer.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "bundle/NrrwRgn"]
	path = bundle/NrrwRgn
	url = git@github.com:chrisbra/NrrwRgn.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = git@github.com:Lokaltog/vim-powerline.git
[submodule "bundle/vim-speeddating"]
	path = bundle/vim-speeddating
	url = git@github.com:tpope/vim-speeddating.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule "bundle/utl"]
	path = bundle/utl
	url = git@github.com:vim-scripts/utl.vim.git
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = git@github.com:vim-scripts/vimwiki.git
[submodule "bundle/vim-organizer"]
	path = bundle/vim-organizer
	url = git@github.com:hsitz/VimOrganizer.git
[submodule "bundle/javacomplete"]
	path = bundle/javacomplete
	url = git@github.com:vim-scripts/javacomplete.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule "bundle/velocity"]
	path = bundle/velocity
	url = https://github.com/lepture/vim-velocity.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git@github.com:msanders/snipmate.vim.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = git@github.com:plasticboy/vim-markdown.git
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = git@github.com:Lokaltog/vim-easymotion.git
